[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=single_layer_export
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=single_layer_export
Comment=Exports selected layer as *.png
